name: Windows RDP (Cloudflare Tunnel)

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Install Cloudflared
      run: |
        Invoke-WebRequest https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.msi -OutFile cloudflared.msi
        Start-Process msiexec.exe -ArgumentList '/i', 'cloudflared.msi', '/quiet', '/norestart' -Wait

    - name: Force Start RDP
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 0
        netsh advfirewall firewall set rule group="remote desktop" new enable=Yes
        netsh advfirewall firewall add rule name="Cloudflare_RDP" dir=in action=allow protocol=TCP localport=3389
        Restart-Service -Force -Name TermService

    - name: Set Password
      run: |
        $pass = ConvertTo-SecureString "P@ssw0rd!" -AsPlainText -Force
        Set-LocalUser -Name "runneradmin" -Password $pass

    - name: Start Cloudflare Tunnel
      run: |
        # This creates a quick tunnel and prints the URL to 'tunnel.log'
        Start-Process -FilePath "cloudflared.exe" -ArgumentList "tunnel --url rdp://localhost:3389" -RedirectStandardError "tunnel.log"

    - name: Get Connection Address
# Wait for Cloudflare to generate the link
      run: |
        Start-Sleep -Seconds 20
        $log = Get-Content tunnel.log
        $url_line = $log | Select-String "trycloudflare.com"
        if ($url_line) {
            $url = $url_line.ToString().Split(" ")[-1].Trim()
            Write-Host "::notice::========================================"
            Write-Host "::notice::HOSTNAME: $url"
            Write-Host "::notice::PORT: 443"
            Write-Host "::notice::========================================"
        } else {
            Get-Content tunnel.log
            exit 1
        }

    - name: Keep Alive
      run: while ($true) { Start-Sleep -Seconds 60 }
